.footernav {
    margin: 1rem auto;
    font-family: 'Cabin', sans-serif;
    max-width: 960px;
  }
  
  .footernav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footernav ul ul {
    flex-direction: column;
  }
  
  .footernav li {
    list-style-type: none;
  }
  
  .footernav a {
    padding: 0.3rem 1rem;
    display: block;
    color: hsla(0, 0%, 100%, 0.9);
    border: 1px solid hsla(0, 0%, 100%, 0);
  }
  
  .footernav a:hover,
  .footernav a:focus {
    border-color: hsla(0, 0%, 100%, 0.9);
  }
  
