.sidebarWrapper {
  margin: 1rem auto;
  /* padding: 1rem; */
  /* background-color: #9C9B35; */
}

.sidebarWrapper h3 {
  margin-top: 1rem;
}

.catUnorderedList {
  list-style: none;
  margin-left: 0;
}
.catUnorderedList li a {
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}