.sidebarWrapper {
  margin: 1rem auto 2rem;
  /* padding: 1rem; */
  /* background-color: #9C9B35; */
}

.sidebarWrapper h3 {
  margin-top: 1rem;
}

/*Stack columns on mobile*/
@media only screen and (max-width: 991px) {
  .sidebar2nd {
    text-align: center;
  }
}
